.top-nav {
    position: static;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 48px;
    background-color:#002c3a;
}
.grayed {
    background-color: #002c3a;
    opacity: 0.5;
}

.outerCard.grayed .card{
    border: 2px solid;
    border-color: #FDB32B;

    opacity: 0.4;

}

.top-nav h1 {
    font-size: 20px;
}

.user {
    display: inline-block;
    margin-top: 5px;
    width:36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.dropbtn {
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 100%;
    height: 32px;
    position: absolute;
    background-color: #002c3a;
    color: white;
    padding: 8px 0;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content p {
    height: 32px;
    color: #fff;
    text-decoration: bold;
    display: block;
}

.dropdown-content p:hover {background-color: darkslategrey;}

.dropdown-content p:active{color: #FDB32B ;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #002c3a;}

body {
    background-color: #f0f7ff !important;
    color: #3B3B3B;
}

.button {
    color:#002c3a !important;
    background-color:transparent!important;
    border-color: #002c3a!important;
}

.button-primary {
    display:inline-block;
    width: 100%;
    max-width: 500px;
    color:#002c3a !important;
    background-color:transparent!important;
    border-color: #002c3a !important;
}

#recommendButton, #uploadButton {
    color:#fff !important;
    background-color: #FDB32B!important;
    border-color: #FDB32B !important;
    margin-bottom: 10px !important;
}

#recommendButton:hover {
    color:#fff !important;
    background-color: #ec9e0f!important;
    border-color: #ec9e0f !important;
}

#matchButton {
    color: #fff !important;
    background-color:#002c3a!important;
    border-color: #002c3a !important;
}

#matchButton:hover {
    color: #FDB32B  !important;
    background-color:#002c3a!important;
    border-color: #002c3a !important;
}

#uploadFileButton:hover {
    color: #fff !important;
    background-color:#002c3a!important;
    border-color: #002c3a !important;
}

.button:hover{
    text-decoration: none;
    cursor:pointer;  
}

.userProfile a {
    color: #fff;
    text-decoration: none;
}

.userProfile a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

#profilePic {
    background-color: gray;
}

.navigation {
    margin: 10px 0;
}

.upload {
    margin: auto;
}

.colorCombo {
    margin:auto 0;
    /*    background-color: aqua;*/
}

.colorCombo .row {
    margin: auto;
}

.colorCombo .inputRow {
    /*    background-color: antiquewhite;*/
    margin: auto;
}

.libraryView {
    margin: auto;
}

.libraryView #app {
    margin: auto;
}

.imagePreview {
    display:inline-block;
    width: 100%;
    height: 250px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size:cover;
    background-repeat:round;
    /*    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);*/
}

#yourImage {
    display:inline-block;
    width: auto;
    height: auto;
    max-height: 250px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size:cover;
    background-repeat:round;
}

#yourImage:after {
    display: block;
    padding-bottom: 100%;
}

.imgUpload {
    margin-bottom:15px;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 50px;
}

.del {
    position:absolute;
    top:0px;
    right:15px;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}
h3 {
    margin:auto !important;
}

h5 {
    margin:auto !important;
}

.imgAdd {
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#4bd7ef;
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0px;
    cursor:pointer;
    font-size:15px;
}

.swatch {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: thin;
    float: left;
    margin-right: 3px;
    display: block;
}

.swatchsmall {
    height: 90px;
    width: 90px;
    /*border-style: solid;*/
    border-width: thin;
    float: left;
    margin-right: 3px;
    display: block;
    font-size: 20px;
}

.sidenav {
    height: 100%;
    width: 100%;
    /*position: fixed;  Fixed Sidebar (stay in place on scroll) */
    background-color: #e9ecef; 
    overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav a {
    padding: 4px 4px 4px 10px;

    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #000;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.bottom-nav {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.bottom-nav a {
    text-decoration: none !important;
}

@media only screen and (max-width: 500px) { .hideSmall { display: none; } }



/* Start of library.html */

.cardView {
    display: flex;
    min-width: 100%;
    min-height: 100px;
    overflow-x: auto;
}

.cardView::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    border-radius: 4px;
    cursor: pointer !important;
    border: 1px solid #fff;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    margin: 5px;
    box-shadow: 3px 5px rgba(255, 255, 255, 0.05);
    background-color: white;
}

.card img {
    margin: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 4px;
    background-color: white;
}

.card:hover {
    border: 1px solid;
    border-color: #f5e0e0;
}

.outerCard.selected {
    border: 2px solid;
    background-color: #FDB32B;
    border-color: #FDB32B;
}

.outerCard.grayed .card {
    border: 2px solid;
    opacity: 0.4;
}

.imgColorTag {
    text-align: center;
    font-weight: bold;
}


#deleteButton {
    width: 250px;
    color:#ef4b4b !important;
    background-color:transparent!important;
    border-color: #ef4b4b !important;
}

#deleteButton:hover {
    width: 250px;
    color:#fff !important;
    background-color:#ef4b4b!important;
    border-color: #fff !important;
}

#deleteButton:active {
    width: 250px;
    color:#fff !important;
    background-color:#c13939!important;
    border-color: #fff !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
 /* background-color: #fefefe;*/
  margin: auto;
  padding: 40px;
  border: 2px solid #FDB32B;
  width: 40%;
  color:#fff;
  background-color: #002c3a;
  border-radius: 8px;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
