.top-nav {
    position: static;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 48px;
    background-color:powderblue;
}

.top-nav h1 {
    font-size: 20px;
}

.user {
    display: inline-block;
    margin-top: 5px;
    width:36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.userProfile a {
    color: black;
    text-decoration: none;
}

.userProfile a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

#profilePic {
    background-color: gray;
}

.navigation {
    margin: 10px 0;
}

.upload {
    margin: auto;
}

.colorCombo {
    margin:auto 0;
    /*    background-color: aqua;*/
}

.colorCombo .row {
    margin: auto;
}

.colorCombo .inputRow {
    /*    background-color: antiquewhite;*/
    margin: auto;
}

.libraryView {
    margin: auto;
}

.libraryView #app {
    margin: auto;
}

.imagePreview {
    display:inline-block;
    width: 100%;
    height: 250px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size:cover;
    background-repeat:round;
    /*    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);*/
}

#yourImage {
    display:inline-block;
    width: auto;
    height: auto;
    max-height: 250px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size:cover;
    background-repeat:round;
}

#yourImage:after {
    display: block;
    padding-bottom: 100%;
}

.button-primary {
    display:inline-block;
    width: 100%;
    max-width: 500px;
    margin-top:-5px;
}

.imgUpload {
    margin-bottom:15px;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 50px;
}

.del {
    position:absolute;
    top:0px;
    right:15px;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}

.imgAdd {
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#4bd7ef;
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0px;
    cursor:pointer;
    font-size:15px;
}

.swatch {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-width: thin;
    float: left;
    margin-right: 3px;
    display: block;
}

.swatchsmall {
    height: 40px;
    width: 40px;
    /*border-style: solid;*/
    border-width: thin;
    float: left;
    margin-right: 3px;
    display: block;
}

.sidenav {
  height: 100%;
  width: 100%;
  /*position: fixed;  Fixed Sidebar (stay in place on scroll) */
  background-color: #e9ecef; 
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav a {
  padding: 4px 4px 4px 10px;

  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #000;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.bottom-nav {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.bottom-nav a {
    text-decoration: none !important;
}

@media only screen and (max-width: 500px) { .hideSmall { display: none; } }

